.welcome-container {
    position: relative;
    text-align: center;
    color: #201d1d;
  }
  
  .background-image {
    position:absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/f2.jpeg'); /* Update with your image path */
    /* background-position: center;
  background-repeat: no-repeat;  
  background-size: auto 100%;   */
  background-size: 800px ;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size:contain;
    filter: brightness(0.5); /* Adjust brightness for better contrast */
  }
  
  .content {
    position: relative;
    z-index: 1; /* Ensure content is above the background image */
    padding-top: 450px; /* Adjust as needed to center content vertically */
  }
  
  .content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: aqua;
  }
  
  .content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
    size: 25;
  }
  
  .shop-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-button:hover {
    background-color: #0056b3;
  }
  