div {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #2c2929;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    text-align: space-between;
  
  }
  .col-3{
    /* background-color: #f9f9f9; */
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    cursor: pointer;
    text-align: center;
    padding: 5px;
    text-align: space-between;



  }
  
h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .row {
    margin-top: 20px;
  }
  
  .col-3 {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
  dl {
    list-style: none;
    padding: 0;
  }
  
  dl dt {
    font-weight: bold;
  }
  
  dl dd {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .bi.bi-star-fill {
    color: gold;
  }

  a{
    /* color: blue; */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    color: chartreuse;
    /* outline: none; */
    padding: 10px;
    margin: 10px;
     /* border: 1px solid #ccc;  */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  /* a.router-link {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    background-color: chartreuse;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
  }
  
  a.router-link:hover {
    text-decoration: underline;
  }
   */